@charset "utf-8";
/**
* ------------------------------------ !MASTER STYLES ------------------------------------
* This stylesheet serves as the foundation for all styles within this application
* CORE VARIABLES: used for controlling individual elements in a theme
* CORE THEME: used as collection of varibles that make up a unified theme or 'skin'
* GRID: semantic less grid
* MIXINS: used for establishing reusable classes
* CORE LAYOUT: used to control positioning layout
*
* AUTHOR: Gerardo Rodriguez (grodriguez@cmdagency.com)
*
* IMPORTANT! - These styles were originally written in LESS (http://lesscss.org) and compliled with the LESS.app (http://incident57.com/less). All modifications should be done in the existing .less file, not the .css file
*
*/
/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: h5bp.com/j */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
/*
 * Correct overflow not hidden in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible;
}
/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input {
  *overflow: auto;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/** ------------------------------------ !CORE THEME ----------------------------------------
* Themeable options. Does not include layout related vars
* Naming convention can be specific to an element: @theme-header-background: @core-color-gray
* Naming format: @theme-[element]-[property]
*/
/** ------------------------------------ !CORE VARIABLES ------------------------------------
* Core, non-themeable options. Includes layout related vars
* Naming convention should be abstract or related to css properties, not specific to page elements: border-thin: 1px
* Naming format: @core-[property]
*/
/** ------------------------------------ !MIXINS --------------------------------------------
* Reusable mixins, these classes are intended to be used within lESS and not directly attached to the markup
*/
/** ------------------------------------ !CORE LAYOUT ------------------------------------*/
::-moz-selection {
  background: #3c68bb;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #3c68bb;
  color: #fff;
  text-shadow: none;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
body h1, body h2, body h3 {
  font-weight: normal;
}
body h1 {
  font-size: 225%;
}
body h2 {
  font-size: 200%;
}
body h3 {
  font-size: 175%;
}
body a:link, body a:visited {
  color: #0e5d95;
  text-decoration: none;
}
body a:active, body a:hover {
  color: #0e5d95;
}
body button {
  border: 2px solid #70B1DE;
  background: #0E5D95;
  color: #fff;
  padding: 5px 15px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.5;
}
body header {
  background: #e9e9e9;
  padding: 10px 0 0;
  color: #333;
  text-align: center;
  display: block;
}
body header nav {
  background: #333;
  padding: 10px;
}
body header nav ul li {
  display: inline-block;
  border-left: 1px solid #666;
}
body header nav ul li:first-child {
  border: none;
}
body header nav ul li a {
  padding: 0 15px;
}
body header nav ul li a:link, body header nav ul li a:visited {
  color: #fff;
  text-decoration: none;
}
body  > section {
  width: 960px;
  margin: 0 auto;
}
body  > section .listingContainer {
  font-size: 12px;
}
body  > section .listingContainer table {
  /*				border:1px solid #d1d1d1;*/

  width: 100%;
}
body  > section .listingContainer table th, body  > section .listingContainer table td {
  padding: 5px 10px;
  border-left: 1px solid #d1d1d1;
}
body  > section .listingContainer table th:first-child,
body  > section .listingContainer table td:first-child,
body  > section .listingContainer table th:last-child,
body  > section .listingContainer table td:last-child {
  border-left: none;
}
body  > section .listingContainer table thead tr {
  background: #e8e8e8;
}
body  > section .listingContainer table thead tr th {
  text-transform: capitalize;
  font-weight: bold;
}
body  > section .listingContainer table thead tr th.descriptive {
  width: 150px;
}
body  > section .listingContainer table tbody tr:nth-child(2n) {
  background: #f5f5f5;
}
body  > section .listingContainer table tbody tr td {
  text-align: center;
}
body  > section .listingContainer table tbody tr td.textContent {
  text-align: left;
}
body  > section .listingContainer.itemsContainer table td:first-child {
  width: 65px;
}
body  > section .listingContainer.collectionsContainer table th:nth-last-child(-n+2), body  > section .listingContainer.collectionsContainer table td:nth-last-child(-n+2) {
  border-left: none;
}
body  > section .listingContainer.collectionsContainer table td:first-child {
  text-align: left;
}
body  > section .listingContainer.designersContainer table th:first-child, body  > section .listingContainer.designersContainer table td:first-child {
  width: 100px;
}
body  > section .listingContainer.designersContainer table th:last-child, body  > section .listingContainer.designersContainer table td:last-child {
  border-left: 1px solid #d1d1d1;
  width: 75px;
}
body  > section article {
  background: #fff;
  border: 1px solid #cdcdcd;
  padding: 0 20px 20px;
  margin: 10px 0;
  position: relative;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-box-shadow: 0px 0px 3px #e5e5e5;
  -webkit-box-shadow: 0px 0px 3px #e5e5e5;
  box-shadow: 0px 0px 3px #e5e5e5;
  /*	.piehtcBehavior();*/

}
body  > section article.formContainer {
  background: #f0f0f0;
}
body  > section article a:link,
body  > section article a:visited,
body  > section article a:hover,
body  > section article a:active {
  border: 2px solid #70B1DE;
  background: #0E5D95;
  color: #fff;
  padding: 5px 15px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.5;
}
body  > section article a.positive {
  background-color: #52a558;
  border-color: #437647;
}
body  > section article a.negative {
  background-color: #db1a1a;
  border-color: #b20000;
}
body  > section article .viewDetails {
  /*				padding:0px;*/

}
body  > section article .viewDetails dt {
  color: #747474;
}
body  > section article .viewDetails dd {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}
body  > section article .viewDetails dd h3 {
  margin: 0;
}
body  > section article .viewDetails.userDetails dd, body  > section article .viewDetails.designerDetails dd {
  text-transform: none;
}
body  > section article .viewDetails.userDetails dd.status, body  > section article .viewDetails.designerDetails dd.status {
  text-transform: uppercase;
}
body  > section article .viewDetails ul {
  padding-left: 0;
}
body  > section article .viewDetails ul.buttonCollection li {
  list-style-type: none;
  float: left;
  margin-left: 10px;
}
body  > section article .viewDetails ul.buttonCollection li:first-child {
  margin-left: 0;
}
body  > section article .customMessages, body  > section article .errors {
  font-size: 110%;
  padding: 10px;
}
body  > section article .customMessages.error, body  > section article .errors.error {
  background: red;
  color: #fff;
}
body  > section article .customMessages.success, body  > section article .errors.success {
  background: green;
  color: #fff;
}
body  > section article .customMessages li, body  > section article .errors li {
  list-style-type: none;
}
body  > section article .errors {
  background: red;
  color: #fff;
}
body  > section article .zend_form dt, body  > section article .zend_form dd {
  display: block;
  margin: 5px 0;
}
body  > section article .zend_form dd input, body  > section article .zend_form dd textarea {
  font-size: 125%;
  color: #5a5a5a;
  padding: 15px;
  border: 1px solid #99b1bd;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: inset 0 0 4px #5f696e;
  -webkit-box-shadow: inset 0 0 4px #5f696e;
  box-shadow: inset 0 0 4px #5f696e;
  width: 95%;
}
body  > section article .zend_form dd textarea {
  height: 200px;
}
body footer {
  text-align: center;
}
/* !Clearfix */
/* Use this to clear floats */
nav ul:after, .buttonCollection:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */* html nav ul, * html .buttonCollection {
  height: 1%;
}
/* IE7 */
*:first-child + html nav ul, *:first-child + html .buttonCollection {
  min-height: 1px;
}
